html {
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-size: 100px;
}
img{
    width: 250px;
}
.minsk{
    width: 250px;
}
header {
    background-image: url(../images/annie-spratt-unsplash.jpg);
    background-size:cover;
    

    color: black;
    text-align: center;
}
a {
    color: #ffe66d;
}
a:hover{
    text-decoration: none;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
    line-height: 1;

}
h2 {
    font-size: 45px;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}


}
h3{
    margin-bottom: 0;
}
.it {
    margin-bottom: 0;
    font-style: italic;
}
.job-details{
    margin-bottom: 0;
    font-style: italic;
    padding: 0;
}
/*end of global */
.projects {
    background: #ffd8e6;
}
.projects .btn{
    color:#F7FFF7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    
}

.projects .btn:hover {
    background: rgba(0,48,97, 80);
}
.project-item{
    overflow: hidden;
padding: 25px 0;
}
.project-item img{
float: left;
margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}
.work {
    background: #A1C6D7;
}
.job-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}
.education {
    background-image: url(../images/markus-winkler-ecix6VmiOng-unsplash.jpg);
    background-size:cover;
    background-position: right -150px bottom 10px;
}
.education p{
    width: 60%;
}
.work{
    background-image: url(../images/annie-spratt-unsplash.jpg);
    background-size: cover;
}
.colorlink{
    color: #2f3061;
    font-weight: bold;
}
footer {
    background: #343434;
    color: #F7FFF7;
    text-align: center;
}
.colorm{
    background-image: url(../images/kirill-sharkovski-4kTnXw0K-0w-unsplash.jpg);
    
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a{
    padding: 15px;
    display: inline-block;
}